<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-7EC1V9BZBX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7EC1V9BZBX');
</script> -->
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N4JWZXF');
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://tabekkoland.jp">
  <link rel="icon" href="/img/favicon.ico">

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"></script>

  <meta name="description" content="誕生から45周年―「たべっ子どうぶつ」史上最大イベント『たべっ子どうぶつLAND』開催決定！" />



  <meta property="og:url" content="https://tabekkoland.jp" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="たべっ子どうぶつ LAND - ギンビス" />
  <meta property="og:description" content="誕生から45周年―「たべっ子どうぶつ」史上最大イベント『たべっ子どうぶつLAND』開催決定！
  コンセプトカフェから最新デジタルアトラクションまで「たべっ子どうぶつ」を楽しみ尽くせるスペシャル空間をご用意！" />
  <meta property="og:site_name" content="たべっ子どうぶつ LAND - ギンビス" />
  <meta property="og:image" content="./img/ogp.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="../assets/style2501.css">


  <!-- LINE Tag Base Code -->
  <!-- Do Not Modify -->
  <script>
    (function (g, d, o) {
      g._ltq = g._ltq || [];
      g._lt = g._lt || function () {
        g._ltq.push(arguments)
      };
      var h = location.protocol === 'https:' ? 'https://d.line-scdn.net' : 'http://d.line-cdn.net';
      var s = d.createElement('script');
      s.async = 1;
      s.src = o || h + '/n/line_tag/public/release/v1/lt.js';
      var t = d.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
    })(window, document);
    _lt('init', {
      customerType: 'lap',
      tagId: 'a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4'
    });
    _lt('send', 'pv', ['a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4']);
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://tr.line.me/tag.gif?c_t=lap&t_id=a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4&e=pv&noscript=1" />
  </noscript>
  <!-- End LINE Tag Base Code -->

  <!-- LINE Tag Base Code -->
  <!-- Do Not Modify -->
  <script>
    (function (g, d, o) {
      g._ltq = g._ltq || [];
      g._lt = g._lt || function () {
        g._ltq.push(arguments)
      };
      var h = location.protocol === 'https:' ? 'https://d.line-scdn.net' : 'http://d.line-cdn.net';
      var s = d.createElement('script');
      s.async = 1;
      s.src = o || h + '/n/line_tag/public/release/v1/lt.js';
      var t = d.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
    })(window, document);
    _lt('init', {
      customerType: 'lap',
      tagId: 'a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4'
    });
    _lt('send', 'pv', ['a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4']);
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://tr.line.me/tag.gif?c_t=lap&t_id=a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4&e=pv&noscript=1" />
  </noscript>
  <!-- End LINE Tag Base Code -->

  <script>
    _lt('send', 'cv', {
      type: 'Conversion'
    }, ['a23ee16c-b3fe-4d8d-9e0b-4407f10ed5d4']);
  </script>

  <title>たべっ子どうぶつ LAND - ギンビス</title>

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4JWZXF" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <main class="main">
    <div class="popup" id="popup">
      <div class="popup__inner">
        <section class="popup__fv">
          <div class="popup__img">
            <picture>
              <source srcset="../img/fv_popup.webp" type="image/webp">
              <img src="../img/fv_popup.jpg" alt="POPUP STORE" width="1600" height="2140">
            </picture>
          </div>

          <div class="popup__td">
            <div class="popup__td--ttl"><span>期間</span></div>
            <div class="popup__td--contents">12月14日(土)〜2025年2月7日(金)</div>
          </div>
          <div class="popup__td">
            <div class="popup__td--ttl"><span>場所</span></div>
            <div class="popup__td--contents"><a href="https://maps.app.goo.gl/XwS38uzB2hnmwc4p9"
                target="_blank">東京都渋谷区神宮前5-46-1 TWIN PLANET South BLDG. 1F</a></div>
          </div>
          <div class="popup__td">
            <div class="popup__td--ttl"><span>営業時間</span></div>
            <div class="popup__td--contents">12：00〜19：00</div>
          </div>
          <div class="popup__td">
            <div class="popup__td--ttl"><span>入場料</span></div>
            <div class="popup__td--contents">無料</div>
          </div>
        </section>


        <section class="popup__feature">
        
            <picture>
              <source srcset="../img/lion_popup.webp" type="image/webp">
              <img src="../img/lion_popup.png" alt="大人気フォトスポット“らいおんくんのお昼寝モニュメント”も登場中です！" width="1600" height="1642">
            </picture>
        </section>
        <section class="popup__presents">
          
          <picture>
            <source srcset="../img/present_popup01.webp" type="image/webp">
            <img src="../img/present_popup01.png" alt="商品をご購入いただい方全員" width="1600" height="1680">
          </picture>
          <div class="popup__present">
            <picture>
              <source srcset="../img/present_popup02.webp" type="image/webp">
              <img src="../img/present_popup02.png" alt="3000円以上ご購入いただいた方" width="1600" height="1122">
            </picture>
          </div>
 
          <div class="popup__note--block">
            <p class="popup__note">※「たべっ子どうぶつLAND POPUP STORE」にて関連商品をお買い上げのお客様が対象です（近隣で開催中の『たべっ子どうぶつMEETS』で販売の商品は対象外となります）。 </p>
            <p class="popup__note">※絵柄はお選びいただけません。</p>
            <p class="popup__note">※お会計の合算‧分割はできません。</p>
            <p class="popup__note">※お一人様1会計につき、1個のお渡しとなります。</p>
            <p class="popup__note">※数に限りがございますので、無くなり次第終了となります。</p>
            <p class="popup__note">※画像はイメージです。</p>
          </div>

          <a href="https://twitter.com/tabekko_cafe" rel="noopener noreferrer" target="_blank" class="popup__x">
            <picture>
              <source srcset="../img/x_popup.webp" type="image/webp">
              <img src="../img/x_popup.png" alt="最新情報は、『たべっ子どうぶつLAND』公式Xをご覧ください。" width="1600" height="360">
            </picture>
          </a>
        </section>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="blc__inner">
      <h2 class="footer__ttl">最新情報はこちら</h2>
      <div class="footer__sns">
        <a href="https://twitter.com/tabekko_cafe" rel="noopener noreferrer" target="_blank" class="footer__sns--tw">
          たべっ子どうぶつLAND<br>公式 X</a>
      </div>
      <div class="footer__image">
        ギンビスランドイメージ
      </div>
      <p class="footer__txt">主催 TWIN PLANET Co., LTD.<br>協賛 Prime nunber Co., LTD.</p>

      <p class="footer__copy"><small>&copy; 2024 たべっ子どうぶつLAND</small></p>
    </div>
  </footer>
  <script src="../assets/model0919.js"></script>



</body>

</html>