<section class="area" id="area">
    <div class="blc__inner">
        <h2 class="area__ttl">エリアマップ</h2>
        <div class="area__map">
            <div class="">
                <picture class="">
                    <source srcset="./img/img_map0721.webp" type="image/webp">
                    <img src="./img/img_map0721.jpg" alt="MAP" width="2152" height="2937">
                </picture>
            </div>
        </div>

        <div class="area__spot area__spot1">
            <h3 class="area__spot--ttl" id="spot1">SPOT1</h3>
            <p class="area__spot--txt mb0">360° プロジェクションマッピング</p>
            <p class="area__spot--txt mt6">キラキラたべっ子どうぶつ<br>シャイニータイム</p>
            <picture class="area__spot1--chara1">
                <source srcset="./img/img_usagi.webp" type="image/webp">
                <img src="./img/img_usagi.png" alt="うさぎさん" width="352" height="549">
            </picture>
            <picture class="area__spot1--chara2">
                <source srcset="./img/img_usagi2.webp" type="image/webp">
                <img src="./img/img_usagi2.png" alt="うさぎさん" width="436" height="676">
            </picture>


            <div>
                <p class="area__spot1--blc-txt2">360°に広がったプロジェクションマッピングに、ネオン調や星座風に描かれたキラキラ輝くどうぶつたちが登場。<br>
                    「たべっ子どうぶつ」の世界に没入する新しい体験。</p>
                <div class="area__spot--sblc">
                    <picture>
                        <source srcset="./img/img_tree.webp" type="image/webp">
                        <img src="./img/img_tree.jpg" alt="MAP" width="1086" height="705">
                    </picture>

                </div>

                <p class="area__spot1--blc-note">※画像はイメージです</p>

            </div>

        </div>


        <div class="area__spot area__spot1">
            <h3 class="area__spot--ttl" id="spot2">SPOT2</h3>
            <p class="area__spot--txt">キャラクターグリーティング</p>
            <picture class="area__spot3--chara1">
                <source srcset="./img/img_spot3.webp" type="image/webp">
                <img src="./img/img_spot3.png" alt="SPOT3" width="226" height="446">
            </picture>

            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small3">
                    <p class="area__spot1--blc-txt2">今回もキャラクターグリーティングを開催。<br>
                        お気に入りのカチューシャをつけてかわいいどうぶつさんたちに会いに来てくださいね♪ </p>


                </div>

            </div>
            <div class="area__spot--greeting">
                <picture>
                    <source srcset="./img/img_calender-mod.webp" type="image/webp">
                    <img src="./img/img_calender-mod.jpg" alt="" width="1566" height="3511">
                </picture>
            </div>
            <p class="area__spot1--blc-note">※混雑状況や入場人数によって、全てのお客様に写真撮影をお楽しみいただけない場合がございます。</p>
            <p class="area__spot1--blc-note">※スケジュールが急遽変更となる場合がございます。</p>

        </div>

        <div class="area__spot area__spot2">
            <h3 class="area__spot--ttl" id="spot3">SPOT３</h3>
            <p class="area__spot--txt">フォトスポット</p>
            <picture class="area__spot2--chara1">
                <source srcset="./img/img_saru.webp" type="image/webp">
                <img src="./img/img_saru.png" alt="さるさん" width="348" height="448">
            </picture>
            <picture class="area__spot2--chara2">
                <source srcset="./img/img_saru2.webp" type="image/webp">
                <img src="./img/img_saru2.png" alt="さるさん" width="454" height="558">
            </picture>

            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small3">
                    <div>
                        <!-- <p class="area__spot1--blc-txt">56種のどうぶつが 次々とモニターに登場する「デジタルグリーティング」</p> -->
                        <p class="area__spot1--blc-txt2">
                            「たべっ子どうぶつ」のパッケージに入り、記念撮影ができる大きなお菓子箱やリニューアルしたぬいぐるみスポットなど今回もかわいい「たべっ子どうぶつ」の世界観を写真に収めることができるさまざまなフォトスポットをご用意！
                        </p>

                        <div class="area__spot1--blc-img2">
                            <picture>
                                <source srcset="./img/img_photospot.webp" type="image/webp">
                                <img src="./img/img_photospot.jpg" alt="" width="1000" height="595">
                            </picture>
                        </div>
                        <p class="area__spot1--blc-note">※画像はイメージです</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="area__spot area__spot2">
            <h3 class="area__spot--ttl" id="spot4">SPOT4</h3>
            <p class="area__spot--txt">たべっ子フォトファクトリー</p>

            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small3">


                    <div>
                        <!-- <p class="area__spot1--blc-txt">56種のどうぶつが 次々とモニターに登場する「デジタルグリーティング」</p> -->
                        <p class="area__spot1--blc-txt2">『たべっ子どうぶつLAND』限定のかわいいフォトフレームで写真が撮影ができる！<br>
                            思い出を写真に残し、お持ち帰りください♪</p>

                        <div class="area__frame">
                            <div class="area__frame--blc pink">
                                <p class="area__frame--ttl"><span>全日程</span></p>
                                <p class="area__frame--subttl">7/22<span>（土）</span>〜 9/18<span>（月）</span><br>
                                    <span>＜ 期間中いつでもお選びいただけます！ ＞</span></p>
                                <div class="area__frame--img">
                                    <picture>
                                        <source srcset="./img/frame_photo01.webp" type="image/webp">
                                        <img src="./img/frame_photo01.jpg" alt="" width="1600" height="900">
                                    </picture>

                                </div>
                            </div>



                            <div class="area__frame--flex">
                                <div class="area__frame--blc yellow">
                                    <p class="area__frame--ttl"><span>前半</span></p>
                                    <p class="area__frame--subttl">7/22<span>（土）</span>〜 8/20<span>（日）</span></p>
                                    <div class="area__frame--img">
                                        <picture>
                                            <source srcset="./img/frame_photo02.webp" type="image/webp">
                                            <img src="./img/frame_photo02.jpg" alt="" width="605" height="900">
                                        </picture>

                                    </div>
                                </div>
                                <div class="area__frame--blc blue">
                                    <p class="area__frame--ttl"><span>後半</span></p>
                                    <p class="area__frame--subttl">8/21<span>（月）</span>〜 9/18<span>（月）</span></p>
                                    <div class="area__frame--img">
                                        <picture>
                                            <source srcset="./img/frame_photo03.webp" type="image/webp">
                                            <img src="./img/frame_photo03.jpg" alt="" width="605" height="900">
                                        </picture>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p class="area__spot1--blc-note">※画像はイメージです</p>
                        <p class="area__spot1--blc-note">※1回 ¥700</p>
                        <p class="area__spot1--blc-note">※撮影後は写真と写真データが保存できるダウンロードチケットの2枚をプレゼント</p>
                    </div>
                </div>

            </div>
        </div>


        <!-- //スポット6 デジタルアトラクション -->
        <div class="area__spot area__spot1">
            <h3 class="area__spot--ttl" id="spot6">SPOT6</h3>
            <p class="area__spot--txt">デジタルアトラクション</p>
            <p class="area__spot--txt2">Powered by<span class="logoSoftbank">softbank</span></p>
            <picture class="area__spot1--chara1">
                <source srcset="./img/img_usagi.webp" type="image/webp">
                <img src="./img/img_usagi.png" alt="うさぎさん" width="352" height="549">
            </picture>
            <picture class="area__spot1--chara2">
                <source srcset="./img/img_usagi2.webp" type="image/webp">
                <img src="./img/img_usagi2.png" alt="うさぎさん" width="436" height="676">
            </picture>

            <div class="area__spot1--opacity">
                <div class="area__spot06">
                    <p class="area__spot06--ttl"><span>AR</span>たべっ子どうぶつのかくれんぼ</p>
                    <div class="area__spot06--img">
                        <picture>
                            <source srcset="./img/img_hideandseek.webp" type="image/webp" class="borderimg">
                            <img src="./img/img_hideandseek.jpg" alt="" width="1024" height="694" class="borderimg">
                        </picture>
                    </div>
                    <p class="area__spot1--blc-txt2">
                        テーマパーク内に設置されたパネルのQRコードを「<span class="arStrong">AR
                            SQUARE</span>」アプリで読み取って、たべっ子どうぶつ（9種類）とソフトバンク白戸家のお父さんの<span
                            class="arStrong">AR</span>をゲット！<br>ダウンロードした<span
                            class="arStrong">AR</span>はいつでもどこでも一緒に写真を撮って楽しめます。集めたたべっ子どうぶつや白戸家のお父さんたちと写真を撮ったら「#たべっ子メモリーよこはま」をつけて、SNSでぜひシェアしてください。
                    </p>
                    <p class="howto_taiken"></p>

                    <div class="area__spot06--img">
                        <picture>
                            <source srcset="./img/img_mapfor-softbank.webp" type="image/webp" class="borderimg">
                            <img src="./img/img_mapfor-softbank.jpg" alt="" width="1000" height="560" class="borderimg">
                        </picture>
                    </div>

                    <p class="howto_taiken">
                        <体験方法>
                    </p>

                    <div class="area__spot--blc-imgsteps flex">
                        <a href="https://37ud.adj.st/open?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen&adj_campaign=media-release&adj_adgroup=tabekko&adj_creative=app&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS"
                            rel="noopener noreferrer" target="_blank" class="steps">
                            <img src="./img/steps_kakurenbo-las03mod_01.jpg" alt="" width="350" height="650"
                                alt="STEP01">

                            <p class="area__spot--blc-imgstepsbtn"><span>ダウンロード</span></p>
                        </a>
                        <div class="steps">
                            <img src="./img/steps_kakurenbo-las03mod_02.jpg" alt="" width="350" height="650"
                                alt="STEP02">
                        </div>
                    </div>

                    <div class="area__spot--blc-imgsteps">
                        <img src="./img/steps_kakurenbo-las03mod_03.jpg" alt="" width="700" height="514" alt="STEP03">

                    </div>

                </div>


                <div class="area__special02">

                    <div class="area__special02--accordion">
                        <!-- <div class="area__spot06--blc">
                            <a href="https://37ud.adj.st/open?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen&adj_campaign=media-release&adj_adgroup=tabekko&adj_creative=app&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS"
                                        rel="noopener noreferrer" target="_blank">
                                <p class="area__spot06--txt">
                                        <span class="arStrong">AR SQUARE</span><br>アプリダウンロードはこちら

                                </p>
                                <p class="area__spot--qr-txt2">
                                    <img src="./img/qr_aplitop.png" alt="アプリダウンロード" width="414" height="414">
                                </p>
                            </a>
                        </div> -->
                        <div class="area__noteblc">
                            <p class="area__spot1--blc-note">※対応機種があります。ご注意ください。<br>
                                iPhone：iOS 13.0以降（iPhone 8以降）／ Android：Android 9.0以降をご利用のお客様はGoogle Playで「Google
                                Play開発者サービス（AR）」を最新バージョンにアップデートしてご利用ください。</p>
                            <p class="area__spot1--blc-note">※ARCore対応端末で本サービスをご利用いただけます。</p>
                            <p class="area__spot1--blc-note">※アプリケーションのダウンロード及びご利用には別途通信料がかかります</p>
                            <p class="area__spot1--blc-note">※本ARコンテンツの公開期間中であっても、「AR
                                SQUARE」のサービス提供が終了した場合は、本ARコンテンツは閲覧できなくなります。 </p>
                            <p class="area__spot1--blc-note">※ページが開かない場合は利用規約に同意の上、再度QRコードを読み取ってください</p>
                            <!-- <p class="area__spot1--blc-note">※ノベルティーには限りがあります</p> -->
                        </div>
                    </div>
                </div>




            </div>


        </div>

        <div class="area__spot area__spot2">
            <h3 class="area__spot--ttl" id="spot5">SPOT5 secret</h3>

            <picture class="area__spot2--chara1">
                <source srcset="./img/img_saru.webp" type="image/webp">
                <img src="./img/img_saru.png" alt="さるさん" width="348" height="448">
            </picture>
            <picture class="area__spot2--chara2">
                <source srcset="./img/img_saru2.webp" type="image/webp">
                <img src="./img/img_saru2.png" alt="さるさん" width="454" height="558">
            </picture>

            <p class="area__spot--txt">ゲームアプリ<br>「たべっ子どうぶつTime」</p>
            <p class="area__spot1--blc-txt2">初の公式ゲームアプリ「たべっ子どうぶつTime」が2023年リリース予定！<br>たべっ子どうぶつLANDでは一足早くティザー映像を公開いたします。
            </p>

            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small3">

                    <div class="area__spot--sblc">
                        <picture>
                            <source srcset="./img/img_time.webp" type="image/webp">
                            <img src="./img/img_time.jpg" alt="" width="828" height="461">
                        </picture>
                    </div>
                </div>

            </div>

            <div class="area__spot--special">

                <p class="area__spot--txt">「たべっ子どうぶつ」<br>×<br>『ONE PIECE』コラボフォトスポット</p>
                <p class="area__spot1--blc-txt2 pc">「たべっ子どうぶつ」と『ONE
                    PIECE』がコラボレーションした限定フォトブースが登場！<br>第1弾のチョッパーに続いて、カルー・クンフージュゴン・ベポも<br>「たべっ子どうぶつ」テイストでイラスト化されています。</p>
                <p class="area__spot1--blc-txt2 sp">「たべっ子どうぶつ」と『ONE
                    PIECE』がコラボレーションした限定フォトブースが登場！<br>第1弾のチョッパーに続いて、カルー・クンフージュゴン・ベポも「たべっ子どうぶつ」テイストでイラスト化されています。</p>

                <div class="area__spot1--blc">
                    <div class="area__spot1--blc-small3">

                        <div class="area__spot--sblc">
                            <picture>
                                <source srcset="./img/img_onepiece.webp" type="image/webp">
                                <img src="./img/img_onepiece.jpg" alt="" width="1132" height="1132">
                            </picture>
                        </div>
                        <div class="area__spot--sblc">


                            <p class="area__spot--txt">9/9(土)から「たべっ子どうぶつ」×『ONE PIECE』コラボ第2弾グッズが先行発売決定！</p>
                            <p>なんと！たべっ子どうぶつLANDで「たべっ子どうぶつ」と『ONE
                                PIECE』のコラボグッズ第2弾の先行販売が決定いたしました！</p>

                        </div>
                        <div class="colabogoods">
                            <ul class="goods__list fadein_block">
                                <li class="fadein01">
                                    <div class="goods__list--new-blc">

                                        <button class="modal-toggle btn-example" data-modal="modalOnepiece01">
                                            <div class="goods__list--img">
                                                <picture>
                                                    <source srcset="./img/goods/onpiece01.webp" type="image/webp">
                                                    <img src="./img/goods/onpiece01.jpg" alt="" width="1200"
                                                        height="1200">
                                                </picture>
                                            </div>
                                        </button>
                                        <p class="goods__list--name">缶マグネット</p>
                                        <p class="goods__list--price">各440円<span>（税込）</span></p>
                                        <span class="goods__list--new">NEW</span>
                                    </div>
                                </li>
                                <li class="fadein02">
                                    <div class="goods__list--new-blc">

                                        <button class="modal-toggle btn-example" data-modal="modalOnepiece02">
                                            <div class="goods__list--img">
                                                <picture>
                                                    <source srcset="./img/goods/onpiece02.webp" type="image/webp">
                                                    <img src="./img/goods/onpiece02.jpg" alt="" width="1200"
                                                        height="1200">
                                                </picture>
                                            </div>
                                        </button>
                                        <p class="goods__list--name">クリアファイル</p>
                                        <p class="goods__list--price">各440円<span>（税込）</span></p>
                                        <span class="goods__list--new">NEW</span>
                                    </div>
                                </li>
                                <li class="fadein02">
                                    <div class="goods__list--new-blc">

                                        <button class="modal-toggle btn-example" data-modal="modalOnepiece03">
                                            <div class="goods__list--img">
                                                <picture>
                                                    <source srcset="./img/goods/onpiece03.webp" type="image/webp">
                                                    <img src="./img/goods/onpiece03.jpg" alt="" width="1200"
                                                        height="1200">
                                                </picture>
                                            </div>
                                        </button>
                                        <p class="goods__list--name">アクリルキーホルダー</p>
                                        <p class="goods__list--price">各880円<span>（税込）</span></p>
                                        <span class="goods__list--new">NEW</span>
                                    </div>
                                </li>
                            </ul>
                        </div>



                    </div>

                </div>
                <div class="colabo__notion">
                    <p class="colabo__notion--ttl">必ずご確認ください！</p>
                    <p class="colabo__notion--txt">9/9(土)・9/10(日)の2日間、「たべっ子どうぶつ」×『ONE PIECE』コラボ第2弾グッズの発売に伴い、混雑が予想されるため、グッズショップへのご入場は<span>入場チケットをお持ちのお客様</span>に限らせていただきます。<br>誠に恐れ入りますが、予めご了承くださいませ。</p>
                </div>
                <div class="colabo__blc">
                    <p class="colabo__blc--ttl">グッズショップへのご入場可能時間について</p>
                    <p class="colabo__blc--txt">9/9(土)・9/10(日)の2日間は、お持ちの入場券に記載されているお時間の中でグッズショップへのご入場が可能となります。<br><br>
                        <例><br>
                        11:00〜12:30の入場チケットをお持ちの場合、グッズショップも同様に11:00～12:30の間でご入場可能
                        <br>
                        ※混雑状況によっては、9/11(月)以降も同様のルールで混雑緩和を図らせていただく可能性がございます。
                        その場合はX（旧Twitter）たべっ子どうぶつLAND公式アカウント@tabekko_cafeにて告知させていただきます</p>
                </div>
                <div class="colabo__blc">
                    <p class="colabo__blc--ttl">その他</p>
                    <p class="colabo__blc--txt2">・お一人でも多くのお客様に商品が行き届くよう、<span>1商品お一人様５点まで</span>の購入制限を設けさせていただきます。</p>
                    <p class="colabo__blc--txt2">・転売目的のご購入はお断りいたします。スタッフが転売目的と判断した場合、ご購入をお断りする場合がございます。また、同一グッズのお会計の並び直しもお断りいたします。</p>
                    <p class="colabo__blc--txt2">・小学生・未就学児童のお客様は、チケットをお持ちの保護者の方とご一緒にご入場いただきますようお願いいたします。</p>
                    <p class="colabo__blc--txt2">・当日券をご希望のお客様は入口スタッフにお声がけくださいませ。</p>
                    <p class="colabo__blc--txt2">・数に限りがございますため、売り切れの際はご容赦ください</p>
                </div>
            </div>
        </div>


    </div>
</section>