<section class="cafe" id="cafe">
    <div class="blc__inner">
        <h2 class="cafe__ttl">カフェメニュー</h2>

        <div class="cafe__blc">
            <picture class="cafe__chara1">
                <source srcset="./img/img_kaba2.webp" type="image/webp" >
                <img src="./img/img_kaba2.png" alt="" width="443" height="472">
            </picture>

            <div class="cafe__test">
                <div class="cafe__test--img">
                    <picture >
                        <source srcset="./img/comingsoon.webp" type="image/webp" >
                        <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                    </picture>
                </div>
            </div>


        </div>
    </div>
</section>

