<section class="area" id="area2">
    <div class="blc__inner">
        <!-- <h2 class="area__ttl" style="margin-bottom: 30px;">エリアマップ</h2> -->

        <div class="area__spot area__spot1">
            <!-- <h3 class="area__spot--ttl" id="spot3">SPOT3</h3> -->
            <p class="area__spot--txt">デジタル<br>アトラクション</p>
            <picture class="area__spot1--chara1">
                <source srcset="./img/img_usagi.webp" type="image/webp">
                <img src="./img/img_usagi.png" alt="うさぎさん" width="352" height="549">
            </picture>
            <picture class="area__spot1--chara2">
                <source srcset="./img/img_usagi2.webp" type="image/webp">
                <img src="./img/img_usagi2.png" alt="うさぎさん" width="436" height="676">
            </picture>
            <div class="area__spot1--opacity">
                <div class="area__spot1--blc">

                    <div class="area__spot1--blc-small area__spot1--blc-small1">
                        <div class="area__spot1--blc-img">
                            <div class="area__spot1--blc-imgtest">
                                <picture>
                                    <source srcset="./img/comingsoon.webp" type="image/webp">
                                    <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                                </picture>
                            </div>
                        </div>
                        <p class="area__spot1--blc-txt">たべっ子どうぶつのかくれんぼ</p>
                        <p class="area__spot1--blc-txt2">
                            かくれんぼしている「たべっ子どうぶつ」のどうぶつたちと白戸家のお父さんを見つけるアトラクション。テーマパーク内に設置されたパネルを探して、パネルに掲載されたQRコードに「AR
                            SQUARE」アプリをダウンロードしたスマートフォンのカメラをかざすと、かわいいARフィギュア（全10種）がダウンロードできます。ダウンロードしたARフィギュアは撮影してお楽しみいただけます。
                        </p>
                    </div>
                    <div class="area__spot1--blc-small area__spot1--blc-small2">
                        <div class="area__spot1--blc-img">
                            <div class="area__spot1--blc-imgtest">
                                <picture>
                                    <source srcset="./img/comingsoon.webp" type="image/webp">
                                    <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                                </picture>
                            </div>
                        </div>
                        <p class="area__spot1--blc-txt">動きだす たべっ子どうぶつ</p>
                        <p class="area__spot1--blc-txt2">会場で配布予定の「たべっ子どうぶつ」のどうぶつたちが描かれたノベルティ（コースター）に「AR
                            SQUARE」アプリをかざすと、どうぶつたちが動き出す不思議な体験をお楽しみいただけます。どうぶつたちが動く様子はスマートフォンで撮影も可能です。<br>
                            <a href="https://37ud.adj.st/open?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen&adj_campaign=media-release&adj_adgroup=tabekko&adj_creative=app&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS"
                                rel="noopener noreferrer" target="_blank">AR SQUAREアプリダウンロードはこちら</a></p>
                        <p class="area__spot1--blc-note">※AR 対応機種<br>iPhone：iOS 13.0以降（iPhone 8以降）／ Android：Android
                            9.0以降</p>
                        <p class="area__spot1--blc-note">※アプリケーションのダウンロード及びご利用には別途通信料がかかります</p>
                        <p class="area__spot1--blc-note">※ノベルティーには限りがあります</p>
                    </div>
                </div>
            </div>
            <div class="area__spot1--topblc">
                <div class="area__spot1--topblc--wrapper">
                    <div class="area__spot1--topblc-img">
                        <div class="area__spot1--blc-img">
                            <div class="area__spot1--blc-imgtest">
                                <picture>
                                    <source srcset="./img/comingsoon.webp" type="image/webp">
                                    <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                                </picture>
                            </div>
                        </div>
                        <p class="area__spot1--blc-txt">360°VRアトラクション(MetaWalkers)<br>「たべっ子どうぶつマジカルダンスシアター」</p>
                        <p class="area__spot1--blc-txt2">
                            ここでしか見られない「たべっ子どうぶつ」のどうぶつたちによる不思議なショーを、360度3Dアニメーションでお楽しみいただけます。</p>
                        <span class="sp">
                            <p class="area__spot1--blc-note">※料金：無料</p>
                            <p class="area__spot1--blc-note">※対応年齢：4歳以上</p>
                            <p class="area__spot1--blc-note">※体験時間目安：1~2分</p>
                        </span>
                        <span class="pc">
                            <p class="area__spot1--blc-note">※料金：無料　※対応年齢：4歳以上　※体験時間目安：1~2分</p>
                        </span>
                        <p class="area__spot1--blc-note">※ご視聴にあたって3Dメガネをご装着いただきます。3Dメガネは使用ごとに消毒を実施します。</p>
                        <p class="area__spot1--blc-note">※混雑時はご体験までお時間いただく可能性がございます。あらかじめご了承ください</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>