<section class="faq" id="faq">


    <div class="blc__inner">
        <picture class="faq__chara">
            <source srcset="./img/img_tori.webp" type="image/webp"><!-- 上記に当てはまらずWebP対応なら表示 -->
            <img src="./img/img_tori.png" alt="とりさん" width="334" height="349"><!-- 上記に当てはまらずWebP非対応なら表示 -->
        </picture>
        <h2 class="faq__ttl">よくある質問</h2>

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>再入場はできますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">お手持ちのチケットに記載の入場時間内であれば、再入場が可能です。<br>
                        一時退場および再入場の際は、必ず入口の受付スタッフにお声がけいただき、チケットの半券をご提示ください。</p>
                </div>
            </div>
        </div>

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>入場チケットなしでグッズショップに入ることは出来ますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">入場チケットをお持ちでなくても、グッズショップをご利用いただけます。<br>
                        <br>
                        ・展示スペース → 入場チケット必須<br>
                        ・カフェエリア → 入場チケット必須<br>
                        ・グッズショップ → 入場チケット不要</p>
                </div>
            </div>
        </div>

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>グッズ販売も90分の入れ替え制ですか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">グッズ販売については、90分入れ替え制の時間内に含まれません。<br>
                        会場ご利用前、ご利用後にご入店いただくことができます。<br>
                        ただし最終時間(18:30〜20:00)でお越しの方は館内ご利用前にご購入をお願い申し上げます。</p>
                </div>
            </div>
        </div>
        <!-- 02 -->
        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>チケットの時間に遅れそうです</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">ご利用開始時間の20分前から会場受付を行っております。<br>
                        また90分入れ替え制となり、ご利用開始時間から60分を超えた場合はご入場をお断りしております。お時間に余裕を持ってお越しいただけますようお願いいたします。</p>
                </div>
            </div>
        </div>
        <!-- 02 -->
        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>チケットの日時変更できますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">予約サイトの規約に則り、入場チケットのご購入後の日程変更、券種変更、払い戻し、再発行は承っておりません。ご了承くださいませ。</p>
                </div>
            </div>
        </div>
        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>台風などの理由で前売り券の指定日時に行けない場合、日程変更や払い戻しはありますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">大変恐れ入りますが、予約サイトの規約に基づき、入場チケットをご購入後の日程変更や払い戻しはできません。</p>
                </div>
            </div>
        </div>
        <!-- 03 -->
        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>11:00からの入場チケットを持っています。会場には何時に行けば良いですか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">券面記載の開始時間、20分前に入場受付へお越しください。</p>
                </div>
            </div>
        </div>
        <!-- 03 -->

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>11:00〜12:30の入場チケットを持っています。12:30にいけば、13:30まで滞在できますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">11:00〜の入場チケットをお持ちの方は、10:40に会場受付へご来場ください。<br>
                        また90分入れ替え制となり、12:00以降はご入場をお断りいたします。お時間に余裕を持ってお越しいただけます様お願いいたします。</p>
                </div>
            </div>
        </div>

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>当日券を購入したい</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">各回、入場制限数に到達していない場合のみ、会場にて当日券を販売いたします。<br>
                        休日にご来場ご予定の方は、事前に入場チケットのご購入をおすすめしております。
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>当日券の情報が知りたいです</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt"><span>当日券の有無は、<a href="https://twitter.com/tabekko_cafe"
                                target="_blank">公式Twitter</a>にてアナウンスいたします。<br>
                            お手数ですが、ご確認ください。</span>
                    </p>
                </div>
            </div>
        </div> -->
        <!-- 05 -->

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>小学生だけでも入場できますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">保護者様の同伴が必要となります。ご注意ください。</p>
                </div>
            </div>
        </div>
        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>小学生の入場予約は必要ですか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">小学生以下のお子様は入場無料となっており、事前のチケット購入や入場予約の必要はございません。<br>
                        チケットをお持ちの保護者様と同時にご入場いただけます。</p>
                </div>
            </div>
        </div>
        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>お会計には何が使えますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">現金、クレジットカード(Visa/Mastercard/Amex/JCB/Diners Club/Discover)、iD、交通系IC、PayPayがご使用になれます。</p>
                </div>
            </div>
        </div>
        <!-- 07 -->

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>キャリーケースなど持ち込めますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">会場外のロッカーをご利用いただけますようお願いいたします。</p>
                </div>
            </div>
        </div>

        <!-- 08 -->

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>ベビーカーは持ち込みできますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">混雑時は安全性確保のため、会場内へお持込できない場合がございます。<br>
                        状況によってはお預かりできかねますので、ご注意ください。</p>
                </div>
            </div>
        </div>
        <!-- 09 -->
        <!-- <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>忘れ物をしました。どこに問い合わせすればよいでしょうか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt"><span><a
                                href="mailto:contact@tabekkoland.jp?subject=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&body=%E4%B8%8B%E8%A8%98%E9%A0%85%E7%9B%AE%E3%81%AE%E3%80%8C%E3%80%8D%E3%81%AB%E3%81%9D%E3%82%8C%E3%81%9E%E3%82%8C%E8%A8%98%E5%85%A5%E3%81%97%E3%81%A6%E9%80%81%E4%BF%A1%E3%81%97%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84%E3%80%82%0D%0A%0D%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%0D%0A%0D%0A%E3%81%8A%E5%90%8D%E5%89%8D%EF%BC%9A%E3%80%8C%E3%80%8D%E3%80%80%0D%0A%0D%0A%E9%9B%BB%E8%A9%B1%E7%95%AA%E5%8F%B7%EF%BC%9A%E3%80%8C%E3%80%8D%0D%0A%0D%0A%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B%E5%86%85%E5%AE%B9%EF%BC%9A%0D%0A%0D%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D">contact@tabekkoland.jp</a>へお名前、忘れ物詳細をご記載の上ご連絡いただけます様お願いいたします。</span>
                    </p>
                </div>
            </div>
        </div> -->
        <!-- 10 -->

        <!-- <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>購入したグッズに不良品がありました</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">当日のみ良品と交換可能でございます。お近くのスタッフへお申し付けください。<br>
                        また当日外の不良品については原則として、交換対応はしておりません。</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>会場内にお手洗いはありますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">会場内にお手洗いはございますが、数が少なくなっております。予めご注意ください。</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>券面記載の日付や時間が異なるチケットでのご入場はお断りしております</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">また券面記載の開始時間30分後はお入りいただけませんので、余裕をもって会場へお越しいただけます様お願いいたします。</p>
                </div>
            </div>
        </div> -->


        <!-- <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>フードメニューのアレルギー表記が知りたい</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt"><a href="./img/menu_allergy-yokohama0721b.pdf"
                            target="_blank">こちら</a>からご確認いただけます。</p>
                </div>
            </div>
        </div> -->

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>障害者割引ありますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt">今回、障害者割引を設定しておりません。<br>
                        <br>
                        会場周りは基本的にバリアフリーとなっておりますが、<br>
                        ご来場時間に合わせてサポートは可能でございますので仰ってくださいませ</p>
                </div>
            </div>
        </div>

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <h3 class="faq__blc--subttl">Q</h3>
                    <p class="faq__blc--txt"><span>車椅子でも来場できますか？</span></p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <h3 class="faq__blc--subttl">A</h3>
                    <p class="faq__blc--txt"><span>来場可能でございます。スムーズにご案内させていただくためにも、事前連絡をお願いいたします。<br>
                            <a
                                href="mailto:contact@tabekkoland.jp?subject=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&body=%E4%B8%8B%E8%A8%98%E9%A0%85%E7%9B%AE%E3%81%AE%E3%80%8C%E3%80%8D%E3%81%AB%E3%81%9D%E3%82%8C%E3%81%9E%E3%82%8C%E8%A8%98%E5%85%A5%E3%81%97%E3%81%A6%E9%80%81%E4%BF%A1%E3%81%97%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84%E3%80%82%0D%0A%0D%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%0D%0A%0D%0A%E3%81%8A%E5%90%8D%E5%89%8D%EF%BC%9A%E3%80%8C%E3%80%8D%E3%80%80%0D%0A%0D%0A%E9%9B%BB%E8%A9%B1%E7%95%AA%E5%8F%B7%EF%BC%9A%E3%80%8C%E3%80%8D%0D%0A%0D%0A%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B%E5%86%85%E5%AE%B9%EF%BC%9A%0D%0A%0D%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D">contact@tabekkoland.jp</span></a>
                    </p>
                </div>
            </div>
        </div>



        <p class="faq__inquiery" id="faqarea">その他お問い合わせは<a
                href="mailto:contact@tabekkoland.jp?subject=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&body=%E4%B8%8B%E8%A8%98%E9%A0%85%E7%9B%AE%E3%81%AE%E3%80%8C%E3%80%8D%E3%81%AB%E3%81%9D%E3%82%8C%E3%81%9E%E3%82%8C%E8%A8%98%E5%85%A5%E3%81%97%E3%81%A6%E9%80%81%E4%BF%A1%E3%81%97%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84%E3%80%82%0D%0A%0D%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%0D%0A%0D%0A%E3%81%8A%E5%90%8D%E5%89%8D%EF%BC%9A%E3%80%8C%E3%80%8D%E3%80%80%0D%0A%0D%0A%E9%9B%BB%E8%A9%B1%E7%95%AA%E5%8F%B7%EF%BC%9A%E3%80%8C%E3%80%8D%0D%0A%0D%0A%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B%E5%86%85%E5%AE%B9%EF%BC%9A%0D%0A%0D%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D">こちら</a>から
        </p>
        <p class="faq__inquiery2">受付時間：平日 10:00 - 17:00</p>

        <div class="faq__inquiery--wrapper">
            <div style="max-width: 500px;">
                <p class="faq__inquiery--note">※<strong style="text-decoration: underline;">ドメイン設定（受信拒否設定）をされております場合は
                        弊社ドメイン『@tabekkoland.jp』を受信リストに追加していただけますようお願い申し上げます。</strong></p>
                <p class="faq__inquiery--note">※ドメイン受信拒否設定の解除をされていない場合、ご返信メールが届かない場合がございます。</p>

                <p class="faq__inquiery--note">※ご返信については、3日〜4日を頂戴しております。</p>
                <p class="faq__inquiery--note">※都合によりお休みを頂く場合もございます。ご了承ください。</p>
            </div>
        </div>


    </div>
</section>

<!-- <section class="notion" id="notion">
    <div class="blc__inner">
        <h2 class="notion__ttl">お知らせ</h2>

        <div class="faq__blc">
            <div class="faq__blc--q">
                <div class="faq__blc--small">
                    <p class="faq__blc--txt">台風の影響等のご事情によってご来場できなかった<br>
                        発券済みチケットをお持ちのお客様へ</p>
                </div>
                <p class="faq__blc--arrow"><span></span></p>
            </div>
            <div class="faq__blc--a">
                <div class="faq__blc--a-inner">
                    <p class="faq__blc--txt top">8/28(月)〜9/10(日)の期間、未使用のチケットに限り、過去の日付チケットでも会場内にご案内させていただきます。<br>
                        ご来場をご希望されるお客様は発券済みチケットをお持ちの上、会場にお越しくださいませ。</p>
                    <p class="faq__blc--txt">【ご注意事項】</p>
                    <p class="faq__blc--txt-list">・混雑時は次の回でのご案内となる可能性がございます。<br>
                        また混雑状況によっては次の回も入場をお断りする場合がございますので、平日や休日の夕方の時間帯をおすすめしております。</p>
                    <p class="faq__blc--txt-list">・半券を紛失されている場合やチケットを発券されていない場合は、誠に恐れ入りますが予約決済をされていても無効とさせていただきます。</p>
                    <p class="faq__blc--txt-list">・カチューシャ付きチケットをご購入されていお客様は、ご来場日のグリーティングに登場するどうぶつのカチューシャをお渡しいたします。<br>
                        なお、在庫状況によっては、別のどうぶつのカチューシャをお渡しする場合もございます。<br>
                        予めご了承くださいませ。</p>
                    <p class="faq__blc--txt-list">皆様のお越しを心よりお待ちしております。</p>
                 
                </div>
            </div>
        </div>
    </div>

</section> -->