<section class="goods" id="goods">
    <div class="blc__inner">
        <h2 class="goods__ttl">グッズ</h2>
        <div class="pc">
            <p class="sstage__spottext">「たべっ子どうぶつ」初の“おかおいっぱいいっぱいシリーズ”や<br>
                ビスケットをモチーフにしたアイテム、大人気の56種シリーズや実写シリーズなど<br>
                今回もかわいいオリジナルグッズをご用意</p>
        </div>
        <div class="sp">
            <p class="sstage__spottext">「たべっ子どうぶつ」初の“おかおいっぱいいっぱいシリーズ”や
                ビスケットをモチーフにしたアイテム、<br>大人気の56種シリーズや実写シリーズなど<br>
                今回もかわいいオリジナルグッズをご用意</p>
        </div>
        <div class="goods__" style="margin-bottm: 20px;">
            <picture >
                <source srcset="./img/img_goods06.webp" type="image/webp" >
                <img src="./img/img_goods06.jpg" alt="" width="2380" height="7288">
            </picture>
    
        </div>

        <div class="pc">
            <p class="sstage__spottext">さらに「おなまえシール」が初めて「たべっ子どうぶつ」のデザインとなって登場！<br>
                期間によってデザインが異なりますので、お見逃しなく！</p>
        </div>
        <div class="sp">
            <p class="sstage__spottext">さらに「おなまえシール」が初めて「たべっ子どうぶつ」のデザインとなって登場！
                期間によってデザインが異なりますので、お見逃しなく！</p>
        </div>
            <div class="goods__blc">
                <p class="goods__seal">前半 7月12日(金)〜8月20日(火)</p>
                <picture >
                    <source srcset="./img/onamae_zenki.webp" type="image/webp" >
                    <img src="./img/onamae_zenki.png" alt="" width="1400" height="875">
                </picture>
                <p class="goods__price">1回 500円</p>
        
            </div>  

            <div class="goods__blc">
                <p class="goods__seal">後半 8月21日(水)〜9月29日(日)</p>

                <picture >
                    <source srcset="./img/onamae_kouki.webp" type="image/webp" >
                    <img src="./img/onamae_kouki.png" alt="" width="1400" height="875">
                </picture>
                <p class="goods__price">1回 500円</p>

            </div>


    </div>
</section>
