

<div class="navBtn" id="navBtn"><span></span><span></span><span></span></div>
<div class="gnavBg" id="gnavBg">BG</div>
<nav id="g-nav" class="g-nav">
    <div class="g-nav__inner">
    <div id="g-nav-list">
        <!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
        <ul class="header__menu">
            <li class="test"><a href="#area">エリアマップ</a></li>
            <li><a href="#cafe">カフェメニュー</a></li>
            <li><a href="#goods">グッズ</a></li>
            <li><a href="#tiket">チケット</a></li>
            <li><a href="#access">会場アクセス</a></li>
            <li><a href="#faq">よくあるお問合せ</a></li>
        </ul>
    </div>  
    <picture class="header__chara">
        <source srcset="./img/img_menu-chara.webp" type="image/webp" ><!-- 上記に当てはまらずWebP対応なら表示 -->
        <img src="./img/img_menu-chara.png" alt="きりんさん" width="624" height="1358"><!-- 上記に当てはまらずWebP非対応なら表示 -->
    </picture>

</div>
</nav>
<header id="header" class="header">
    <a href="#tiket" class="header__link">
    チケットはこちらから
    </a>

    <div class="header__details--wrap">
        <div class="header__details">
            <!-- <div class="header__details--img">
                <picture >
                    <source srcset="./img/event-info.webp" type="image/webp" >
                    <img src="./img/event-info.png" alt="" width="1300" height="760">
                </picture>
            </div> -->
            <h2 class="header__details--ttl"><span>EVENT</span></h2>
            <div class="header__details--tblc">
                <div>
                    <p class="header__details--tblc-year">2023</p>
                    <p class="header__details--tblc-date">7.22<span>sat</span></p>
                </div>
                <div class="header__details--tblc-arr">
                    <p class="header__details--tblc-date">▶︎</p>

                </div>
                <div>
                    <p class="header__details--tblc-year">2023</p>
                    <p class="header__details--tblc-date">9.18<span>mon</span></p>
                </div>
            </div>
            <p class="header__details--txt1">ASOBUILD（アソビル）</p>
            <p class="header__details--txt2"><span class="header__details--txt2-time">営業時間</span><span class="header__details--txt2-time2">11:00〜20:00</span></p>
        </div>
    </div>
    <h1 class="header__ttl">夏の思い出づくりを盛り上げる！<br>
        「たべっ子どうぶつ」を楽しみ尽くす<br>
        『たべっ子どうぶつLAND』が場所を移動して開催！</h1>
    <p class="header__subttl">今回の会場は横浜・ASOBUILD<br>
        「見て」「食べて」楽しめるコンテンツがもりだくさん<br>
        さらに、フォトスポットもパワーアップ！<br>
        「たべっ子どうぶつ」を楽しみ尽くせるスペシャルな空間をご用意しました</p>

        <a href="./campaign.html" class="header__campaign">
            <img src="./img/bnr_campaign-yokohama.jpg" alt="キャンペーン" width="750" height="300">
        </a>
</header>





