<section class="tiket" id="tiket">
    <div class="blc__inner">
        <h2 class="tiket__ttl">チケット</h2>
        <picture class="tiket__chara">
            <source srcset="./img/img_wani.webp" type="image/webp"><!-- 上記に当てはまらずWebP対応なら表示 -->
            <img src="./img/img_wani.png" alt="わにさん" width="504" height="346"><!-- 上記に当てはまらずWebP非対応なら表示 -->
        </picture>

        <ul class="tiket__tab">
            <li class="tab active">チケット情報</li>
            <li class="tab">来場者特典</li>
        </ul>
        <ul class="tiket__tabmain">
            <li class="yel active  panel">
                <div class="tiket__blc">
                    <h3 class="tiket__blc--ttl">チケット情報</h3>
                    <div class="tiket__blc--small-wrap">
                        <div class="tiket__blc--small">
                            <p class="tiket__blc--smallttl">一般チケット</p>
                            <p class="tiket__blc--smalltxt">小学生以下：無料<br>
                                中高校生：500円<br>
                                大学生以上：800円</p>
                            <p class="tiket__txt2">※小学生以下は入場無料／ただし保護者の同伴が必要です。</p>
                        </div>
                        <div class="tiket__blc--small">
                            <p class="tiket__blc--smallttl">カチューシャ付きチケット</p>
                            <p class="tiket__blc--smalltxt">おみみカチューシャ＋入場チケット：2,800円<br>
                                ぬいぐるみ付きカチューシャ＋入場チケット：3,000円</p>

                            <p class="tiket__txt3">※セット販売するカチューシャの種類は「キャラクターグリーティング」の日替わりスケジュールに準じています。</p>
                            <p class="tiket__txt3--note">（例）<br>らいおんくんが登場する日のカチューシャ付きチケット：<br>らいおんの「おみみカチューシャ」もしくは、らいおんの「ぬいぐるみ付きカチューシャ」から選択</p>
                        </div>
                    </div>

                    <h4 class="tiket__subtxt">事前予約制</h4>

                    <div class="tiket__lowson--wrap">
                        <a href="https://l-tike.com/event/mevent/?mid=695288" target="_blank" rel="noopener norefferr"
                            class="tiket__lowson" id="clickLowsonTicket">ローソンチケット</a>

                    </div>
                    <div class="tiket__blc2">
                        <!-- <p class="tiket__txt">・販売開始日:2/25(土) AM8:00〜</p> -->
                        <p class="tiket__txt">・90分入れ替え制となります。</p>
                        <p class="tiket__txt">・各回、入場制限数に到達していない場合のみ、会場にて当日券を販売いたします。</p>
                            <p class="tiket__txt">・その他、注意事項などは、ローソンチケットの販売ページよりご確認いただけます様お願いいたします。</p>
                    </div>
                </div>
                <picture class="tiket__neko">
                    <source srcset="./img/img_neko.webp" type="image/webp"><!-- 上記に当てはまらずWebP対応なら表示 -->
                    <img src="./img/img_neko.png" alt="ねこさん" width="498" height="939"><!-- 上記に当てはまらずWebP非対応なら表示 -->
                </picture>
            </li>
            <li class="tiket__tokuten panel">
                <div class="tiket__blc">
                    <h3 class="tiket__blc--ttl">来場者特典</h3>
                    <div class="tiket__tokuten--swiper-wrapper">
                        <!-- Slider main container -->
                        <div class="swiper tiket__tokuten--swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <h4 class="tiket__tokuten--subttl">入場特典</h4>
                                    <div class="tiket__tokuten--img2">
                                        <picture class="">
                                            <source srcset="./img/img_entergift.webp" type="image/webp">
                                            <!-- 上記に当てはまらずWebP対応なら表示 -->
                                            <img src="./img/img_entergift.jpg" alt="来場者特典1" width="1000" height="1000">
                                            <!-- 上記に当てはまらずWebP非対応なら表示 -->
                                        </picture>
                                    </div>

                                    <p class="tiket__tokuten--txt">たべっ子どうぶつLANDオリジナルデザイン
                                        ポケットティッシュ（1種）をプレゼント！</p>
                                </div>
                                <div class="swiper-slide">
                                    <h4 class="tiket__tokuten--subttl">グッズ特典</h4>
                                    <div class="tiket__tokuten--img2">
                                        <picture class="">
                                            <source srcset="./img/img_goodsgift.webp" type="image/webp">
                                            <!-- 上記に当てはまらずWebP対応なら表示 -->
                                            <img src="./img/img_goodsgift.jpg" alt="来場者特典2" width="1000" height="1000">
                                            <!-- 上記に当てはまらずWebP非対応なら表示 -->
                                        </picture>
                                    </div>
                                    <p class="tiket__tokuten--txt">グッズ1,500円（税込）ご購入ごとに<br>「たべっ子どうぶつ」ソロうちわをプレゼント！<br>(全9種ランダム)</p>
                                </div>
                                <div class="swiper-slide">
                                    <h4 class="tiket__tokuten--subttl">カフェ特典</h4>
                                    <div class="tiket__tokuten--img2">

                                        <picture class="">
                                            <source srcset="./img/img_cafegift.webp" type="image/webp">
                                            <!-- 上記に当てはまらずWebP対応なら表示 -->
                                            <img src="./img/img_cafegift.jpg" alt="来場者特典3" width="1000" height="1000">
                                            <!-- 上記に当てはまらずWebP非対応なら表示 -->
                                        </picture>
                                    </div>

                                    <p class="tiket__tokuten--txt">フード&ドリンク1,500円（税込）ご購入ごとに<br>『たべっ子どうぶつLAND』 オリジナルうちわ(集合1種)をプレゼント！</p>
                                </div>



                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

    
                        </div>
                    </div>
                </div>
                <p class="tiket__tokuten--note">※なくなり次第終了となります</p>

            </li>
        </ul>

    </div>
</section>