<%
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: './',
  ogimage : '' ,
  category : ['campaign'] ,
  pagename : '',
  css: [],
  js:[],
  // jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%> 


    
<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7EC1V9BZBX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7EC1V9BZBX');
</script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://tabekkoland.jp">

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"></script>

  <meta name="description" content="誕生から45周年―「たべっ子どうぶつ」史上最大イベント『たべっ子どうぶつLAND』開催決定！"/>

  <meta property="og:url" content="https://tabekkoland.jp"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="たべっ子どうぶつ LAND - ギンビス"/>
  <meta property="og:description" content="誕生から45周年―「たべっ子どうぶつ」史上最大イベント『たべっ子どうぶつLAND』開催決定！
  コンセプトカフェから最新デジタルアトラクションまで「たべっ子どうぶつ」を楽しみ尽くせるスペシャル空間をご用意！"/>
  <meta property="og:site_name" content="たべっ子どうぶつ LAND - ギンビス"/>
  <meta property="og:image" content="./img/ogp.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/img/favicon.ico">

  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="./assets/yokohama0917.css">


  <title>たべっ子どうぶつ LAND - ギンビス</title>
</head>
<body>

  <%- include('./module/campaignheader'); %>


  <%- include(pageinit.path + 'module/footer', { pageinit:pageinit }) %>

  <script src="./assets/model0919.js"></script>

 

</body>
</html>







      

    
